html, body { 
  margin: 0; 
} 
 
div { 
  box-sizing: border-box; 
} 
 
a{ 
  text-decoration: none; 
  color: #000; 
} 
 

 
header { 
  border-bottom: solid 1px #000; 
  height: 70px; 
} 


 
header .container { 
  display: flex; 
  justify-content: space-between; 
} 
 

 
header h1 { 
  margin: 0; 
  height: 100%; 
  line-height: 70px; 
} 
 
.header-menu { 
  display: flex; 
  align-items: center; 
} 
 
.header-menu a { 
  padding: 10px; 
  margin-left: 10px; 
} 
 




