
 
a{ 
  text-decoration: none; 
  color: hsl(90, 20%, 98%); 
} 
 

 
header { 
  border-bottom: solid 1px #000; 
  height: 70px; 
} 


 
header .container { 
  display: flex; 
  justify-content: space-between; 
} 
 

 
header h1 { 
  margin: 0; 
  height: 100%; 
  line-height: 70px; 
} 
 
.header-menu { 
  display: flex; 
  align-items: center; 
} 
 
.header-menu a { 
  padding: 10px; 
  margin-left: 10px; 
} 

.photo { 
  width: calc(100%/3); 
  float: left; 
  padding: 10px; 
  margin-bottom: 15px; 
} 
 
.photo a { 
  display: block; 
} 


body {
  background: #222;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150%; 
}

[data-scroll] {
  background-color: #222;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: calc(33.3% - 20px);
  height:auto;
  margin: 10px;
  will-change: transform;
  opacity: 1;
  opacity: calc(var(--visible-y) * var(--visible-y));
  transform: scale(calc(0.5 + calc(var(--visible-y) * 0.5)));
}




