
 
a{ 
  text-decoration: none; 
  color: hsl(90, 20%, 98%); 
} 
 

 
header { 
  border-bottom: solid 1px #000; 
  height: 70px; 
} 


 
header .container { 
  display: flex; 
  justify-content: space-between; 
} 
 

 
header h1 { 
  margin: 0; 
  height: 100%; 
  line-height: 70px; 
} 
 
.header-menu { 
  display: flex; 
  align-items: center; 
} 
 
.header-menu a { 
  padding: 10px; 
  margin-left: 10px; 
} 

.photo { 
  width: calc(100%/4); 
  float: left; 
  padding: 10px; 
  margin-bottom: 15px; 
} 
 
.photo a { 
  display: block; 
} 

.photo-info .category { 
  display: inline-block; 
  padding: 2px 5px; 
  border-radius: 4px; 
  font-size: 12px; 
  color: #fff; 
  background-color: #000; 
} 




