{% load static %}

<html>
    <head>
      <meta charset="utf-8">
      
      

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <title>Kumasutaguramu</title>
      <link rel="stylesheet" type="text/css" 
      href="{% static 'css/style.css'%}"> 
      <script src="https://kit.fontawesome.com/6d70c7f021.js" crossorigin="anonymous"></script>
      <!-- FontAwesomeのCDN --> 
      
      
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

      
    </head>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <header> 
            <div class="container"> 
              <h1><a href="{% url 'app:index' %}">Kumastaguramu</a></h1> 
              <div class="header-menu">

                <a href="{% url 'app:photos_new' %}" button type="button" class="btn btn-primary">
                  <span class="icon">
                    <i class="fa-solid fa-heart fa-flip "></i>
                  </span>
                </a>

                
                  <!-- これを見本にボタンを作る --> 
                
                  
                {% if request.user.is_authenticated %} 
                  <a href="{% url 'app:users_detail' request.user.id %}" button type="button" class="btn btn-success">マイページ</a> 
                  <a href="{% url 'app:logout' %}" button type="button" class="btn btn-secondary">ログアウト</a> 
                {% else %} 
              
                  <a href="{% url 'app:login' %}" button type="button" class="btn btn-success">ログイン</a> 
                {% endif %} 

                


                
              </div>
            </div> 
          </header>
          
        <div class="container">
            {% for message in messages %}
                <p class="message-succes">{{ message }}</p>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    
      <script>
      
      ScrollOut({ 
        threshhold: 0.5,
        cssProps: {  
          visibleY: true 
        } 
      })

    </script>

      </script>

    </body>
    
</html>