{% load static %}

<html>
    <head>
        <title>Kumasutaguramu</title>
        <link rel="stylesheet" type="text/css" 
        href="{% static 'css/style.css'%}">
    </head>
    <body>
        <header> 
            <div class="container"> 
              <h1><a href="{% url 'app:index' %}">Kumastaguramu</a></h1> 
              <div class="header-menu"> 
                <a href="{% url 'app:photos_new' %}">投稿</a>  <!-- 更新 --> 
                {% if request.user.is_authenticated %} 
                  <a href="{% url 'app:users_detail' request.user.id %}">マイページ</a> 
                  <a href="{% url 'app:logout' %}">ログアウト</a> 
                {% else %} 
              
                  <a href="{% url 'app:login' %}">ログイン</a> 
                {% endif %} 
              </div>
            </div> 
          </header>
        <div class="container">
            {% for message in messages %}
                <p class="message-succes">{{ message }}</p>
            {% endfor %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>