{% load static %}

<head>

  
  <link rel="stylesheet" type="text/css" 
  href="{% static 'css/style2.css'%}"> 
 
  
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
  <!-- ScrollOutのCDN -->

  <title>Django PhotoService</title>
 
</head>




<div class="container"> 
  <div class="scroll-out">
  
 
    {% for photo in photos %} 
   
      <div class="photo" data-scroll> 
        
          <a href="{% url 'app:photos_detail' photo.id %}"> 
          <img src="{{ photo.image.url }}" class="photo-img"> 
          </a> 
          
        
      </div> 
    {% endfor %} 
  
  </div>
</div>



<body>

<script>
ScrollOut({ 
  threshhold: 0.5, 
  cssProps: { 
    visibleY: true 
  } 

})
</script>

</body>
