{% extends 'app/base.html' %} 
 
{% block content %} 
 
<div class="photo-detail"> 
 
    <img src="{{ photo.image.url }}" class="photo-img"> 
    <div class="photo-info"> 
      <a href="{% url 'app:users_detail' photo.user.id %}"> 
        @{{ photo.user }} 
      </a> 
    
    </div> 
   
    <h2>{{ photo.title }}</h2> 
    <p>{{ photo.comment }}</p> 
   
    

    <!-- 削除ボタン --> 
    {% if request.user == photo.user %} 

    <form method="POST" action="{% url 'app:photos_delete' photo.id %}"> 
      {% csrf_token %} 
      <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>
        削除 
      </button>
    </form> 
    {% endif %}

  
  </div> 
  
  {% for comment in photo.comments.all %}
  <div class="comment">
    <p>{{ comment.text }}</p>
    {% if comment.replies.exists %}
      <ul>
        {% for reply in comment.replies.all %}
          <li>{{ reply.text }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="{% url 'add_comment' photo_id=photo.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="reply_to" value="{{ comment.id }}">
      <textarea name="text" placeholder="Reply to this comment"></textarea>
      <button type="submit">Reply</button>
    </form>
  </div>
  {% endfor %}
  
  {% endblock %} 

